extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    for todo in todos
      li.listItem(class=todo.complete ? "complete" : "")
        | Description: #{todo.description}
        | Completed: #{todo.complete}

    else
      p No Todos Found
